<div id="<%= dom_id ivr_studio %>">
  <p>
    <strong>Name:</strong>
    <%= ivr_studio.name %>
  </p>

  <p>
    <strong>Ivr data:</strong>
    <%= ivr_studio.ivr_data %>
  </p>

  <p>
    <strong>Total item:</strong>
    <%= ivr_studio.total_item %>
  </p>

  <p>
    <strong>Goto data:</strong>
    <%= ivr_studio.goto_data %>
  </p>

</div>
