<div class="row mb-3">
   <div class="col-12">
      <h5>Welcome <%=current_user.name %>
      <%= link_to "", user_edit_path , :class => "fa fa-pencil ms-2 fs-6 text-muted"%>
      </h5>
   </div>
</div>

<div class="row mb-3">
    <% if current_user.sw_api_key.nil? %>   
    <div class="col-12 col-md-4 col-lg-4">
        <%= link_to "Add API Token", user_edit_sw_api_keys_path %>
        </div>
    <%else%>
    <div class="col-12 col-md-4 col-lg-4">
     <small class="d-block fw-semibold  mb-1 text-secondary">Space URL</small>
         <span><%= current_user.sw_api_key.space_url%> </span>
   </div>
   <div class="col-12 col-md-4 col-lg-4">
      <small class="d-block fw-semibold  mb-1 text-secondary">ProjectId</small>
      <span><%= current_user.sw_api_key.project_id%></span>
   </div>
   <div class="col-12 col-md-4 col-lg-4">
      <small class="d-block fw-semibold  mb-1 text-secondary">Token</small>
         <span>PT********************************************</span>
   </div>
</div>

<%= link_to "Edit", user_edit_sw_api_keys_path , :class => "btn btn-sm btn-primary" %>

<span class="ms-1">
               <%= link_to "Delete", user_delete_sw_api_keys_path, :class => "btn btn-sm btn-danger", method: :delete, data: {
                        "turbo-method": :delete
                     } %>
            </span>
   <%end%>
      



